<div class="panel panel-default text-center" style="width:400px;margin:auto auto">
  <div class="panel-body">
<h2>__('LOGIN_VIEW.HEADER') %></h2>
<p>This application is requesting access to Indaba on your behalf so it can:</p>
<ul>
	<li>Create and edit shoots</li>
	<li>Watch and retrieve media</li>
	<li>Create media on your behalf</li>
</ul>
<p>At no point will they have access to you social media account.</p>

<a href="/auth/google">
	<img style="width:80%" src="/images/google-oauth.png" />
</a>
<a href="/auth/facebook">
	<img style="width:80%" src="/images/facebook-oauth.png" />
</a>
</div>
</div>

Login to the Indaba platform