<div style="margin-top:3em;" class="row container">    
    <div class="col-md-5">
        
        <h1><%- __('Support Community Stories') %></h1>
        <p class="lead text-success">
            <i class="fa fa-check"></i> <%- __('Login here if you want to support community story making by <mark>creating and managing</mark> Shoots.') %>
        </p>
        <p class="lead text-danger">
            <i class="fa fa-times"></i> <%- __('You cannot <mark>contribute</mark> videos to the community Shoots here. To do that please use the Our Story app from the App Store.') %>
        </p>
    </div>
    <div class="col-md-7 text-center">
            <br><br>
            <img src="/images/logo_web.svg" />
            <br>
            <br>
            <br>

            <span class="text-muted"><%- __('So you can come back later, please verify your identity') %></span>
            <br><br>
            <a class="inline-block" href="/auth/google">
                <img style="height:60px" src="/images/google.png" />
            </a>
            <% if (sails.config.FACEBOOK_AUTH) { %>
            <a href="/auth/facebook">
                <img style="height:53px;" src="/images/facebook.png" />
            </a>
            <% } %>
        </div>
</div>