<div class="text-center">
<h1><%- __('Congrats! You are now part of the team.') %></h1>
<br>
<%- __('You can start contributing right away. Download the app and get shooting!') %>
<br>
<br>
<a href="https://play.google.com/store/apps/details?id=uk.ac.ncl.di.bootlegger"><img style="margin-bottom:5px;" alt="Android app on Google Play" src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png"></a>

</div>
