    <h2><%- __('To join Indaba, login using an existing login:') %></h2>
    <br><br>
    <div style="text-align:center">
        <a href="/auth/google" role="button" class="btn btn-success btn-lg">Google Login</a>
        <!-- <a href="/auth/facebook" role="button" class="btn btn-success btn-lg">Facebook Login</a> -->
    </div>