<div style="text-align:center;height:100%;">
	<h1><%- __('You can use an existing login to access Our Story.') %></h1>
	<hr>
	<a href="/auth/google"><img style="width:100%;" src="/linker/images/gsign.png" /></a>
</div>