
<style>

videogular vg-media video {
    height:inherit !important;
}

.videopanel
{
    height:100%;
}

.video
{
  background-repeat:no-repeat;
  background-size:cover;
  /*width:230px;
  height:150px;*/
  position:relative;
  /*background-color:#eee;*/
}

.vid_tmp
{
  width:200px;
  height:100px;
  background:#e3e3e3;
  display:inline-block;
}

.container-fluid{
  padding:10px;
}

.allmedia
{
  width:100%;
  display: block;
  z-index:0;
}

.allmedia .rembtn
{
  display:none;
}

.allmedia ul
{
  list-style-type: none;
  margin:0;
  padding: 0;
}

.allmedia li
{
  /*float: left;*/
  margin:2px;
  cursor: pointer;
  display:inline-block;
  /*height:20px;*/
}

.playlist .video
{
  cursor:pointer;
}

video{
  /*height:220px;*/
  /*width:391px;*/
  margin-bottom:-5px;
  /*height:100%;*/
  width:100%;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}

#videomodal video{
  width:100%;
  height:100%;
}


#trimmodal video{
    width:100%;
    height:100%;
}

.affix {
    background:white;
    left:0;
    right:0;
    width:inherit;
    padding-top:5px;
    margin-top:-20px;
    
    /*margin-left:-15px;*/
    -webkit-box-shadow: 0px 5px 3px -2px rgba(0,0,0,0.3) ;
  }


rzslider .rz-bubble.rz-limit
{
    left:0;
}
</style>


<script>
var currenteditid = '<%- req.param('edit') %>';  
</script>

<div ng-controller="Media as controller" ng-cloak>

    <div class="progress" style="position:fixed;top:0;width:100%;left:0;height:2px;margin:0;z-index:5000"  ng-show="loading">
      <div class="indeterminate"></div>
  </div>

<script type="text/ng-template" id="media.html">
<div class="panel panel-default" style="margin:1px;">
  <div class="video" >
    <img ng-click="previewThis(m)" class="thumb_img" style="width:100%;" ng-src="{{m.thumb}}?s=200" />
    <a style="position:absolute;right:0px;top:0px;" ng-href="{{m.lowres}}" class="btn btn-link"><i class="fa fa-download"></i></a>
    <h4 style="margin:4px;">{{m.meta.static_meta.captured_at | date:'ha d MMM yy'}}</h4>
    <p style="margin:0;">{{m.meta.role_ex.name}}</p>
    <i class="fa fa-play" style="font-size:35pt;padding-top:17%;color:white;position:absolute;top:0;left:0;padding-left:43%;text-align:center;" ng-if="isplaying==m"></i>
    <div class="pull-right">
        <button ng-click="addToPlaylist(m)" class="btn btn-link"><i class="fa fa-plus"></i></button>
        </div>
    <div class="text-left">
        <button class="btn btn-link" style="color:orange;text-decoration:none;" ng-click="star(m,$event)"><i style="color:orange;" class="fa" ng-class="{'fa-star':m.stars[username], 'fa-star-o':m.stars[username]==undefined || m.stars[username]==false}"></i> {{size(m.stars)}}</button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="media2.html">
<div ng-click="playThis(m)">
<div class="text-right" style="font-size:8pt">
{{calcTime(m)}}  
</div>
<div class="panel panel-default" style="margin:3px;width:130px;height:100px;position:relative;">
    <div ng-click="previewThis(m)" style="cursor:pointer;position:relative;margin:0;height:60px;background-size:cover;background-repeat:repeat-x" ng-style="{'background-image':'url('+m.thumb+')'}">
        <!--<div style="position:absolute;left:2px; bottom:2px;">-->
    
  <!--</div>-->
     </div>
  <i class="fa fa-play" style="font-size:21pt;color:white;position:absolute;top: 18px;left: 57px;text-align:center;" ng-show="isplaying==m"></i>
   
  
  <button class="btn btn-link" style="color:orange;text-decoration:none;" ng-click="star(m,$event)"><i style="color:orange;" class="fa" ng-class="{'fa-star':m.stars[username], 'fa-star-o':m.stars[username]==undefined || m.stars[username]==false}"></i> {{size(m.stars)}}</button>
  <button class="btn btn-link pull-right" ng-click="remove(m)"><i class="fa fa-trash"></i></button>
  <button class="btn btn-link pull-right" ng-click="doTrim(m)"><i class="fa fa-cut"></i></button>
  </div>
</script>

<% if (_.contains(event.ownedby,user.id) && event.publicedit) { %>
<div class="alert alert-info">
  The content of this shoot can be edited by anyone, even those who did not contribute. You can share the following link with them:<br>
  <span class="text-muted"><%- sails.config.master_url %>/watch/view/<%- event.id %></span>
</div>
<% } %>

<div style="position:relative">
  <div class="affix" data-offset-top="100" class="row playlist" style="top:14px;z-index:1000;">
      <div style="position: absolute;left: 20px;top: 10px;z-index: 1000;">
        <span ng-show="lastsavedat && !showmsg" class="text-muted"><small>last saved at {{lastsavedat | date:'HH:mm:ss'}}</small></span>
        <a href="/" class="btn btn-link"><i class="fa fa-chevron-left"></i> Back</a>
        <button ng-click="playall()" class="btn btn-sm btn-success ">Lights Down <i class="fa fa-desktop"></i></button>
        <button ng-disabled="playlist.length<=1" ng-click="mastersave()" class="btn btn-sm btn-success ">Save Your Edit <i class="fa fa-save"></i></button>
    </div>
      <div class="col-sm-5 col-sm-offset-4">
            <div class="panel panel-default" style="width:100%;padding:0;margin:0;display:inline-block;background:black;" id="videopanel" ng-model="windowsize" ng-style="{height:vidHeight()}">
            <videogular vg-update-time="updatetimeMain($currentTime, $duration)" vg-player-ready="controller.onPlayerReady($API)" vg-complete="onCompleteVideo()">
                    <vg-media vg-src="sources">
                    </vg-media>
                    <vg-controls>
                    <vg-play-pause-button></vg-play-pause-button>
                    <!--<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>-->
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    </vg-scrub-bar>
                    <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                </vg-controls>
                <!--<vg-buffering></vg-buffering>-->
            </videogular>
            
            </div>
            
            </div>
                
            <div class="visible-sm visible-md visible-lg" style="padding:20px;">
                {{format(isplaying)}}    
            </div>      
        <div style="z-index:1000;position: absolute;right: 22px;bottom: -40px;">
          view
            <div class="btn-group">
                <label class="btn btn-sm btn-primary" ng-model="search.created_by" btn-radio=" '{{username}}' "><i class="fa fa-user"></i> Mine</label>
                <label class="btn btn-sm btn-primary" ng-model="search.created_by" btn-radio=""><i class="fa fa-users"></i> Everyones</label>
            </div>
            sort by
            <div class="btn-group">
                <label class="btn btn-sm btn-primary" ng-model="order_filter" btn-radio="'meta.static_meta.captured_at'"><i class="fa fa-clock-o"></i> When</label>
                <label class="btn btn-sm btn-primary" ng-model="order_filter" btn-radio="sizeM"><i class="fa fa-star"></i> Fav</label>
                <label class="btn btn-sm btn-primary" ng-model="order_filter" btn-radio="'order'"><i class="fa fa-random"></i> Rand</label>
            </div>
            <br>
            
        </div>
        
    </div>
    
</div>

<div class="allmedia" style="text-align:center;position:fixed;bottom:130px;left:0;overflow:hidden;overflow-y:scroll;padding:12px;" ng-style="{top:vidHeight()}">
  <div >
<ul>
    <li class="col-xs-6 col-sm-3" style="margin:0;padding:0;"   ng-repeat="m in media | isMine:search | orderBy:order_filter as filtered">
      <div style="width:100%;height:100%;" ng-include=" 'media.html' "></div>
    </li>
</ul>
<div>
    <h3 class="text-muted text-center" style="margin-top:100px;" ng-show="filtered.length==0 && !loading">You have not uploaded any videos yet, but you can watch other contributions...</h3>
</div>
<div class="clearfix"></div>
</div>
</div>





<div class="modal fade"  data-show="true" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin:auto auto;margin-top:10%;">
    <div class="modal-content" style="text-align:center;">
      <div class="modal-body">
        <h1>We have collected all the footage from this shoot.</h1>
          <h2>You can <span style="color:yellowgreen"><i class="fa fa-play fa-6x" ></i> play</span>, <span style="color:orange"><i class="fa fa-star fa-6x" ></i> like</span> and <span style="color:#357ebd"><i class="fa fa-list-ul fa-6x" ></i> playlist</span> what you and others have filmed.</h2>
      </div>
      <div class="modal-footer" style="text-align:center;">
        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" >Great, Thanks!</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade"  data-show="true" id="share" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin:auto auto;margin-top:10%;">
    <div class="modal-content" style="text-align:center;">
      <div class="modal-body">
        <h1>Your edit will be ready shortly...</h1>
        <h2>You can view <span ng-show="canshare">and share</span> your edit at<br> <a href="{{sharelink}}">{{sharelink}}</a></h2>
          <div ng-show="canshare" class="addthis_sharing_toolbox"></div>
      </div>
      <div class="modal-footer" style="text-align:center;">
        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Great, Thanks!</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade"  data-show="true" id="playAll" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="margin:auto auto;margin-top:10%;width:60%;">
    <div class="modal-content" style="text-align:center;">
      <div class="modal-body" id="videomodal" style="padding:0;margin-right:-1px;">

      </div>
    </div>
  </div>
</div>

<div class="modal fade"  data-show="true" id="trimDlg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin:auto auto;margin-top:10%;width:60%;">
    <div class="modal-content" style="text-align:center;">
      <div class="modal-body" id="trimmodal" style="padding:0;margin-right:-1px;">
          <videogular vg-player-ready="controller.onPlayerReadyPreview($API)" vg-update-time="updatetime($currentTime, $duration)" vg-complete="onCompleteVideoPreview()">
                <vg-media vg-src="previewSources">
                </vg-media>
                
                <vg-controls>
				<vg-play-pause-button></vg-play-pause-button>
				<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
				<vg-scrub-bar>
					<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
				</vg-scrub-bar>
				<vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
			</vg-controls>
            <vg-buffering></vg-buffering>
          </videogular>
            <rzslider
            rz-slider-model="slider.min"
    rz-slider-high="slider.max"
    rz-slider-options="slider.options"></rzslider>
      </div>
    </div>
  </div>
</div>

<div class="modal fade"  data-show="true" id="savedlg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin:auto auto;margin-top:10%;">
    <div class="modal-content" style="text-align:center;">
      <div class="modal-body">
            <!-- saving -->
            <h1>Save Your Edit</h1>
            <label>
                Title
            <input class="form-control" ng-model="edit.title" required placeholder="Your Edit Title"/>
            </label>
            <br>
            <label>
                Decription
            <textarea class="form-control" ng-model="edit.description" placeholder="A description"></textarea>
            </label>
            <br>
            <button ng-click="makeedit()" class="btn btn-primary" ng-show="canshare">Process My Edit <i class="fa fa-share"></i></button>
            <button ng-click="save()" class="btn btn-primary " ng-disabled="playlist.length<=1">Save for Later <i class="fa fa-floppy-o"></i></button>
            <button ng-click="makeedit()" class="btn btn-primary " ng-show="!canshare">Make an Edit for Myself <i class="fa fa-film"></i></button>
      </div>
    </div>
  </div>
</div>

<div ng-show="!publicview && !loading" class="alert alert-info">The shoot organiser has set permissions so that you can only see what you captured.</div>


<script type="text/javascript">
var addthis_share = {
   url: "ourstory.video",
   title: "My Story"
}
var addthis_config = addthis_config||{};
addthis_config.data_track_addressbar = false;
addthis_config.data_track_clickback = false;
</script>

<div class="row" style="position:fixed;bottom:0;left:0;right:0;height:132px;-webkit-box-shadow: 0px -3px 3px 0px rgba(0,0,0,0.3);background:white;">
    <!--<div class="col-xs-12">-->
            <div style="height:5px;">
                <div ng-repeat="m in playlist" style="float:left;display:inline-block;height:100%;padding-right:2px;" ng-style="{width:calcWidth(m)}">
                    <div style="height:100%;width:100%;background:hsla({{($index * 30)%360}}, 50%, 45%, 1);"></div>
                
                </div>    
            </div>
        
          <div class="panel panel-default playlist" style="height:100%;margin:0;">
              
            <div class="panel-body" style="margin:0;padding:0;height:100%;padding-left:20px;">
                 <div class="playlist" ui-sortable="{'start':startdrag, 'placeholder':'vid_tmp', 'ui-floating': true, 'axis': 'x' }" ng-model="playlist" style="margin:0;padding:0;overflow-y:hidden;overflow-x:scroll;height:100%;white-space: nowrap;">
                   <div ng-repeat="m in playlist" ng-include=" 'media2.html' " style="display:inline-block;margin:1px;"></div>
                 </div>
            </div>
        </div>
    </div>
    <!--</div>-->
</div>


<!-- </div> -->
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-550c037118e0ae97" async="async"></script>
<script type="text/javascript">
// Call this function once the rest of the document is loaded
function loadAddThis() {
    addthis.init()
}
</script>
