<div class="text-center">
<h1 style="font-size:7em;;color:#eee;"><%- __('Computer Says No') %></h1>

<div class="main">
  <h1>
    <%- __('Passport Sir?') %>
  </h1>
  <h2> 
    <%- __('Sorry, we dont think you have the right permissions to view this page.') %>
  </h2>
</div>
</div>