<div class="text-center">
<h1 style="font-size:7em;;color:#eee;">Page Not Found</h1>

<div class="main">
  <h1>
    Something's fishy here.
  </h1>
  <h2> 
    The page you were trying to reach doesn't exist.
  </h2>
</div>
</div>