<div class="text-center">
<h1 style="font-size:7em;;color:#eee;"><%- __('Page Not Found') %></h1>

<div class="main">
  <h1>
    <%- __('Something`s fishy here.') %>
  </h1>
  <h2> 
   <%- __('The page you were trying to reach does not exist.') %>
  </h2>
</div>
</div>