<div class="text-center">
<h1 style="font-size:7em;;color:#eee;"><%- __('Server Error') %></h1>

<div class="main">
  <h1>
    <%- __('Something`s not right here.') %>
  </h1>
  <h2> 
    <%- __('The page you were trying to reach has had problems. We have been notified and are working to fix this problem.') %>
  </h2>
</div>
</div>