<div class="text-center">
<div class="main">
  <h1>
    <%- __('Indaba Dashboard') %>
  </h1>
  <h2>
    <form action="/auth/process_admin" method="POST">
      <input type="hidden" name="username" value="admin" />
    <div style="max-width:500px;margin:auto auto">
      <input placeholder="<%- __('enter access code') %>" class="form-control input-lg"  name="password" />
      <div >
        <br>
      <input type="submit" class="btn btn-primary btn-lg" value="<%- __('Access Dashboard') %>" />
    </div>
    </div>
    </form>
  </h2>
</div>
</div>