<div class="text-center">
<h1 style="font-size:7em;;color:#eee;"><%- __('Access Denied') %></h1>

<div class="main">
  <h1>
    <%- __('Titan Dashboard') %>
  </h1>
  <h2> 
    <%- __('Sorry, access to the Titan dashboard is only allowed from the computer running the application.') %>
  </h2>
</div>
</div>