@import "variables";
@import "./node_modules/bulma/bulma";
@import "overrides";

@mixin box_shadow ($level) {

    @if $level == 1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if $level == 2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @else if $level == 3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @else if $level == 4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    } @else if $level == 5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

}

.hero-head
{
    border-bottom: 1px solid $grey;
    background:$grey-darker;
}

#navMenu{
    &.is-active
    {
        background: $grey-darker
    }
}

.level
{
    margin-top:-24px;
    color:$white;
}


.circlecrop
{
    position: relative;
    background: $dark;
    width:100%;
    padding-top: 100%;
    // height:450px;
    border-radius: 50%;
    overflow: hidden;
    // line-height: 100%;

    @include box_shadow(3);
    & video{
        // display: none;
        position: absolute;
        left:0;
        top:0;
        width:100%;
    }

    & img {
        position:absolute;
        left:28%;
        top:28%;
        width: 45%;
    
    }
}

.phone {
    position: relative;
    margin-left:-14%;
    margin-top:3em;
    filter: drop-shadow(0 0 10px #333333);
}

.has-text-right .phone {
    // position: relative;
    margin-right:-19%;
    margin-left: 0;
    // margin-right:-6.5em;
}

.phone img:last-child{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.phone img:first-child{
    width:82%;
    margin-left:10.4%;
}

.has-text-right .phone  img:last-child{
    position: absolute;
    right: 0;
    left:inherit;
    top: 0;
    width: 100%;
}

.has-text-right .phone img:first-child{
    width:82%;
    margin-left: inherit;
    margin-right: 10.4%;
}

.storycontainer
{
    margin-top:-75px;
    & .heading {
        display: inline;
    }

    & .title
    {
        margin-bottom: 0;
        margin-top:1em;
    }
}

.storycircle
{
    @include box_shadow(5);
    // border-color: $primary;
    // border-width: 10px;
    // border-style: solid;
    // box-shadow: 0 12px 12px rgba(0,0,0,0.16), 0 12px 12px rgba(0,0,0,0.23);
    background: $primary;
    
    color: white;
    border-radius: 50%;
    width:100px;
    height:100px;
    text-align: center;
    font-size: 25pt;
    margin-top:-20px;
    line-height: 100px;
    overflow: hidden;
}

#lingumania_langswitcher
{
    position: absolute !important;
    top: 1.2em !important;
    right: 30% !important;
}

.lingumania_poweredby
{
    display: none !important;
}

a#lingumania_currentlanglink
{
    width: 100px !important;
    padding-right: 2em !important;
}

#lingumania_langswitcher:hover a
{
    width: 100px !important;
    padding-right: 2em !important;
}

a#lingumania_currentlanglink
{
    background:  url('/landing/dropdown.png') right 5px no-repeat !important;
}