<div class="well">
	<h1>
		<span class="text-muted" style="text-align:center;">
			<%- __('You have been logged in, and will be redirected back to your mobile app to start bootlegging.') %>
		</span>
	</h1>
</div>